@model List<indiedevlog.web.EFModel.Objects.SPs.getLatestPlanUpdatesSP>

@{
    ViewData["Title"] = "Home";
}

<h1>latest updates</h1>

@foreach (var post in @Model)
{
    <div class="postContainer">
        <div class="header">
            <h3>@post.Subject</h3>
            <h4>@post.ProjectName</h4>
        </div>

        <div class="content">
            <p>@Html.Raw(@post.Body)</p>
            <div class="footer">
                <span class="user">@post.DisplayName</span>
                <span class="date">@post.Created.ToString("MM-dd-yyyy")</span>
            </div>
        </div>
    </div>

    <br/>
}