@model indiedevlog.web.Objects.PlanUpdates.PlanUpdateResponseItem

<div class="postContainer">
    <div class="header">
        <h3>@Model.Subject</h3>
        <h4><a href="/projects/@Model.ProjectNameURLSafe}" title="@Model.ProjectName">@Model.ProjectName</a></h4>
    </div>

    <div class="content">
        <p>@Html.Raw(Model.Body)</p>
        <div class="footer">
            <span class="user"><a href="/users/@Model.AuthorURLSafe">@Model.AuthorName</a></span>
            <span class="date">@Model.PostDate.ToString("MM-dd-yyyy")</span>
        </div>
    </div>
</div>